.chrono {
  display: grid;
  margin: 2em 0;
}

.chrono__item {
  display: grid;
  grid-template-columns: 20% auto 1fr;
  grid-gap: 1em;
  text-align: left;
  align-items: center;
}

.chrono > :first-child > .chrono__card {
  margin-top: 0;
}

.chrono > :last-child > .chrono__card {
  margin-bottom: 0;
}

.chrono__card {
  background: var(--primary-background-color);
  border-radius: 4px;
  padding: 1em;
  margin: 1em 0;
  order: 2;
}

.chrono__card main {
  padding: 0.5em;
}

.chrono__range {
  color: var(--accent-color);
  background: var(--secondary-background-color);
  justify-self: end;

  padding: 0.5em;
  border-radius: 4px;
  order: 0;
}

.chrono__line {
  background: var(--accent-color);
  width: 4px;
  height: 100%;
  margin: 0 0.5em;
  position: relative;
  order: 1;
}

.chrono__line::after {
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: -7px;
  height: 14px;
  width: 14px;
  background: var(--secondary-background-color);
  border: 2px solid var(--accent-color);
  border-radius: 50%;
}

@media (min-width: 800px) {
  .chrono__item {
    grid-template-columns: 1fr auto 1fr;
  }

  .chrono > :nth-child(odd) .chrono__card {
    order: 0;
  }

  .chrono > :nth-child(odd) .chrono__range {
    order: 2;
    justify-self: start;
  }
}
