@font-face {
  font-family: "CascadiaCode";
  font-weight: normal;
  font-style: normal;
  src: local(""), url("/fonts/CascadiaCode.woff2") format("woff2"),
    url("/fonts/CascadiaCode.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("/fonts/OpenSans.woff2") format("woff2"),
    url("/fonts/OpenSans.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #a1c6da;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f3f3f3;
}
::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

:root {
  --title-color: #f3f3f3;
  --text-color: #b6b6b6;
  --accent-color: #a1c6da;
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "CascadiaCode", Sans-Serif;
}

html,
body {
  font-size: 95%;
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);

  color: var(--text-color);
  fill: var(--title-color);
  background: rgb(40, 47, 50);
  background: linear-gradient(
    115deg,
    rgba(40, 47, 50, 1) 0%,
    rgba(28, 28, 28, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

a {
  color: inherit;
  fill: inherit;
  text-decoration: none;
  transition: 0.2s color ease;
}

a:hover {
  fill: var(--accent-color);
  color: var(--accent-color);
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--title-color);
  font-weight: normal;
  font-family: var(--secondary-font);
}

* {
  box-sizing: border-box;
}
