.container {
  min-height: 100vh;
  padding: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-column-gap: 5%;
}

.content {
  align-self: end;
  margin-bottom: 33%;
}

.avatar {
  border-radius: 50%;
  max-width: 100%;
}

.header {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  padding: 5% 10%;
}

.header > * {
  opacity: 0.2;
  transition: opacity 1.2s ease;
}

.header > *:hover {
  opacity: 1;
}
