.container {
  margin: 10px;
  border: 1px solid #1e1e1f;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "aside main header";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  padding: 5% 10%;
}

.header > * {
  opacity: 0.2;
  transition: opacity 1.2s ease;
}

.header > *:hover {
  opacity: 1;
}

.main {
  grid-area: main;
  padding: 1.5rem;
  display: grid;
  overflow: auto;
}

.aside {
  background: #2a3740;
  grid-area: aside;
  width: 290px;
  display: grid;
  justify-content: stretch;
  grid-template-rows: auto 1fr;
  text-align: center;
}

.border {
  border: 4px solid #1e1e1f;
  border-radius: 50%;
  width: fit-content;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 4px solid transparent;
  vertical-align: middle;
}

.aside header {
  padding: 1rem;
  display: grid;
  justify-items: center;
}

.aside main {
  background: #1d252b;
  overflow: auto;
  padding: 1rem;
}

.aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.aside li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  background: #2a3740;
  height: 1px;
  margin: 1rem 1.5rem;
}

.social {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-column-gap: 1em;
}

.badges {
  margin-top: 0.5rem;
  margin-left: -0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.badges > * {
  margin: 0.5rem 0;
  margin-left: 0.5rem;
}

.flip {
  transition: transform 0.8s ease;
}

.flip:hover {
  transform: rotateY(-360deg);
}
